.header{
  background-color:white ;
  display: flex;
  padding: 0 10px;
  
}

.logo {
  height: 80px; 
  margin-right: 15px;
}

.container {   
  text-align: left;
  min-height: 100vh;
}

h1 {
  flex: 1;
  color:rgb(12, 12, 12);
}

h2 {
  flex: 1;
  color:rgb(12, 12, 12);
}

.content {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  min-height: 81vh;
}

footer{
  text-align: left; 
  font-size: 18px;
  background-color: #FFF;
  padding: 5px 10px;
}

p{
 
  text-align: left;
  font-size: 18px;
  font-weight:normal;
  color:rgb(12, 12, 12);   
  line-height: 2rem;
}

#menu {
  align-self: center;
  list-style-type: none;
  padding:10px;
  margin: 0;
  background-color:white;
  align-self: flex-end; 

}

#menu li{
  display: inline-block;
  margin-right: 60px;
  font-size: 18px;
  font-weight:normal;
  color:black;  
}

#menu li span {
  margin-right: 8px;
}

#menu li a {
  display: inline-flex;     
  align-items: center;
  gap: 8px;     
  color: black;
  text-decoration: none;    
}

#menu li a:hover {
  color: #000;
  gap: 8px;
  text-decoration: underline;
}

.about {
  font-size: 18px;
  line-height: 2rem;
}

.new-user-form {
  display:grid;
}

.new-user-form label {
  margin-top: 10px;
  margin-bottom: 5px; 
  font-size: 18px;
  
}

.new-user-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.address{
  font-size: 18px;
}

.new-user-form .location-container input{
  width:760px;
}

.dropdown{
  font-size: 18px;
  width: 200px;
  margin-right: 8px;
}

.location{
  padding:10px 0;
}

.insurance-type{
  font-size: 18px;
}

.button-submit {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#submit {
  width: 100px;
  font-size: 18px;
}

fieldset {
  margin-top: 10px;
}

#pharma-finder{
  height:50px;
  width:200px;
  font-size: 18px;
  cursor:pointer;
  margin-left: 500px;
}

.message {
  margin: 20 auto;
  padding: 20px;
  max-width: 2000px;
  min-height: 81vh;
 justify-content: left;
}

.logout-p{
  font-size: 25px;
  text-align: center;
}



