.custom-nav{
  background-color:white ;
  display: flex;
  padding: 0 10px;
}

.logo {
  height: 80px; 
  margin-right: 15px;
}

.container {   
  display: flex;
  flex-direction: column;
  text-align: left;
  min-height: 100vh;
}

h1 {
  flex: 1;

  color:rgb(12, 12, 12);
}

h2 {
  flex: 1;
  color:rgb(12, 12, 12);
}

.h2-animation {
  opacity: 0;
  transform: translateX(-150px);
  animation: slideLeft 2s ease-out forwards;
}

@keyframes slideLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.content {
  flex: 1;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
 
}

footer {
  text-align: left; 
  font-size: 18px;
  background-color: #FFF;
  padding: 5px 10px;
}

p {
  text-align: left;
  font-size: 18px;
  font-weight:normal;
  color:rgb(12, 12, 12);   
  line-height: 2rem;
}

.toggle-menu {
  display: none;
}

#menu {
  align-self: center;
  list-style-type: none;
  padding:10px;
  margin: 0;
  background-color:white;
  align-self: flex-end; 

}

#menu li{
  display: inline-block;
  margin-right: 60px;
  font-size: 18px;
  font-weight:normal;
  color:black;  
}

#menu li span {
  margin-right: 8px;
}

#menu li a {
  display: inline-flex;     
  align-items: center;
  gap: 8px;     
  color: black;
  text-decoration: none;    
}

#menu li a:hover {
  color: #72c0ee;
  gap: 8px;
  text-decoration: underline;
}

.about {
  font-size: 18px;
  line-height: 2rem;
}

.new-user-form {
  font-size: 18px;
  display:grid;
}

.new-user-form label {
  margin-top: 10px;
  margin-bottom: 5px; 
}

.new-user-form input {
  padding: 8px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.address {
  font-size: 18px;
}

.dropdown {
  font-size: 18px;
  width: 200px;
  height: 33px;
  margin-right: 8px;
}

.location {
  padding: 10px 0;
}

.location label,
.location-container label {
  margin-right: 10px;
}

.insurance-type {
  font-size: 18px;
}

.radio-container label{
 padding: 2px;
 
}

.radio-container input{
  margin-left: 20px;
  
 }

.button-submit {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#submit {
  width: 100px;
  font-size: 18px;
  cursor: pointer;
}

#submit:hover {
  background-color: #72c0ee;
}

fieldset {
  margin-top: 10px;
}

#pharma-finder{
  height:50px;
  width:200px;
  font-size: 18px;
  cursor:pointer;
  margin-left: 500px;
}

#pharma-finder:hover {
  background-color: #72c0ee;

}

.message {
  flex: 1;
  margin: 20 auto;
  padding: 20px;
  max-width: 2000px;
  min-height: 100%;
  justify-content: left;
}

.logout-p{
  font-size: 25px;
  text-align: center;
}

#mobile-menu {
  display:none;
}

@media screen and (max-width:768px) {
  .content{
      max-width: 600px;
  }

  .toggle-menu {
    display: block;
    padding: 30px;
  }

  #mobile-menu {
    display: block;
    position: absolute;
    top: 60px;
    right: 10px;
  }

  #menu {
    display:none;
  }

  #mobile-menu li {
    margin-bottom: 10px;
  }

  #mobile-menu li span {
    margin-right: 8px;
  }

  #mobile-menu li a {
    display: inline-flex;     
    align-items: center;
    gap: 8px;     
    color: black;
    text-decoration: none;    
  }
  
  #mobile-menu li a:hover {
    color: #72c0ee;
    gap: 8px;
    text-decoration: underline;
  }

  #mobile-menu-ul {
    list-style: none;
    background-color: white ;
  }

  #pharma-finder{
    height:50px;
    width:200px;
    font-size: 18px;
    cursor:pointer;
    margin-left: 250px;
  }
  
  .message {
    margin: 20 auto;
    padding: 20px;
    max-width: 2000px;
    min-height: 100%;
   justify-content: left;
  }
}

@media screen and (max-width:575px) {
  .content {
    padding: 10px;
  }

  .new-user-form input,
  .new-user-form label
   {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .location-container select
  {
    width: 130px;
    margin: 5px;
    height: 33px;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .location-container input {
    width: 100%;
    max-width: 90%;
    margin: 5px;
  }

  .location select  {
   margin-left: 0px;
   width:114px;
  }

  .insurance-type {
    font-size: 14px;
  }

  .radio-container input{
    margin:10px;
    gap: 5px;

  }

  #pharma-finder{
    height:50px;
    width:150px;
    font-size: 18px;
    cursor:pointer;
    margin-left: 100px;
  }

  .med-table {
   flex-direction: column;
  }

  .order-button {
    padding-top: 0px;
  }

.order-button button {
  width: 200px;   
}

}



