html,body {
  margin: 0; 
  padding: 0;
  
}

body {
  background-image: url('./components/images/Intro_image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lato';
}