.profile {
    font-size: 20px;
    width:400px;
    margin: 0 auto;
}

.edit-details {
    display: grid;
}

.edit-details span {
    margin: 10px;
}
.profile p,
.profile label {
   font-weight: bold;
}

.profile input {
    font-size: 18px;
    height: 25px;
}

.profile span {
    margin-left:3px;
}

.edit-view-button {
    display: flex;
    gap: 10px;
    width: 300px;
    height:50px;
    
}

#view-button:hover,
#edit-button:hover,
#save-button:hover {
    background-color:#72c0ee;
}

#view-button,
#edit-button {
    cursor: pointer;
    font-size: 18px;
}

#save-button {
    cursor: pointer;
    font-size: 18px;
    width: 300px;
    height:50px;

}